$primary-color: #00bcd4;
$background-color: #e0f7fa;

// body {
//   font-family: Arial, sans-serif;
//   background-color: $background-color;
//   color: #333;
//   margin: 0;
//   padding: 0;
// }

.homepage {
  text-align: center;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    .card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 15px;
      width: 200px;

      img {
        width: 100%;
        border-radius: 8px;
      }

      h2 {
        font-size: 1.5em;
        margin: 10px 0;
      }

      .see-more {
        text-decoration: none;
        color: $primary-color;
        font-weight: bold;
      }
    }
  }

  .popular-shop {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}