.App {
    text-align: center;
    margin-top: 100px;
    .form_login {
      display: inline-block;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
    }
    
    div {
      margin-bottom: 15px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
    }
    
    .input_login {
      width: 200px;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .button_login {
      display: flex;
      gap: 15px; /* Khoảng cách giữa hai nút */
      justify-content: center; /* Căn giữa các nút */
      button {
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
      }
      button:hover {
        background-color: #218838;
      }
    }
  }
  
  